vendor
node_modules
dgraph
.githooks
.env
.phpunit.result.cache
.idea
/public/js/app.js
/public/css/app.css
/public/css/*.css
/public/fonts/vendor
/public/vendor
/public/images/vendor
/resources/assets/opendialog
/resources/views/vendor/pingpong
update-web-chat.sh
auth.json
xdebug.log
.lando.yml
.env-e
.lando.yml-e
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
set_up_done
*.tar
