/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/statuses
/vendor
/vendor-local
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/public/js/app.js
/public/css/app.css
/public/css/*.css
/public/admin
/public/fonts/vendor
/public/vendor
/public/images/vendor
/resources/assets/opendialog
/resources/views/vendor/pingpong
update-web-chat.sh
auth.json
dgraph
xdebug.log
.lando.yml
.env-e
.lando.yml-e
tests/_dgraphdata
build
.DS_store
.php_cs.cache
composer-dev.json
composer-dev.lock
/public/images/bin.svg
/public/images/check.svg
/public/images/docs.svg
/public/images/messageeditor.svg
/public/images/moreoptions.svg
/public/images/navigation.svg
/public/fonts/od-admin.eot
/public/fonts/od-admin.svg
/public/fonts/od-admin.ttf
/public/fonts/od-admin.woff
/public/images/Play.svg
/public/images/reset.svg
/public/images/scenarioeditor.svg
/public/fonts/sofiapro-light.otf
/public/images/top-bar-back-button.svg
/public/images/plus.svg
/public/images/tick.svg
/public/images/tick-light.svg
/public/images/plus-light.svg
/public/fonts/sofia_pro_black_az-webfont.woff
/public/fonts/sofia_pro_black_az-webfont.woff2
/public/fonts/sofia_pro_bold_az-webfont.woff
/public/fonts/sofia_pro_bold_az-webfont.woff2
/public/fonts/sofia_pro_light_az-webfont.woff
/public/fonts/sofia_pro_light_az-webfont.woff2
/public/fonts/sofia_pro_medium_az-webfont.woff
/public/fonts/sofia_pro_medium_az-webfont.woff2
/public/fonts/sofia_pro_regular_az-webfont.woff
/public/fonts/sofia_pro_regular_az-webfont.woff2
/public/fonts/sofia_pro_semi_bold_az-webfont.woff
/public/fonts/sofia_pro_semi_bold_az-webfont.woff2
/public/fonts/sofia_pro_ultralight_az-webfont.woff
/public/fonts/sofia_pro_ultralight_az-webfont.woff2
/public/mix-manifest.json
/public/images/dialogflow.svg
/public/images/icons-doc.svg
/public/images/luis.svg
/public/images/np_users.svg
/public/images/od.svg
/public/images/qna.png
/public/images/rasa.svg
/public/mix-manifest.json
/public/images/od-beans.svg
/public/images/slack-icon.svg
