/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/public/js/app.js
/public/css/app.css
/public/admin
/public/fonts/vendor
/public/vendor
/public/images/vendor
/resources/assets/opendialog
/resources/views/vendor/pingpong
update-web-chat.sh
auth.json
dgraph
xdebug.log
.lando.yml