/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/statuses
/vendor
/vendor-local
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/public/js/app.js
/public/css/app.css
/public/css/*.css
/public/admin
/public/fonts/vendor
/public/vendor
/public/images/vendor
/resources/assets/opendialog
/resources/views/vendor/pingpong
update-web-chat.sh
auth.json
dgraph
xdebug.log
.lando.yml
.env-e
.lando.yml-e
tests/_dgraphdata
build
.DS_store
.php_cs.cache
composer-dev.json
composer-dev.lock
