name: {appname}
recipe: laravel
config:
  scanner: false
  webroot: public
  php: 7.3
  via: nginx
  xdebug: true
  config:
    php: config/php.ini
proxy:
  dgraph-ratel:
    - dgraph-ratel.lndo.site:8000
  dgraph-alpha:
    - dgraph-alpha.lndo.site:8000
services:
  appserver:
    scanner: false
  node:
    type: node
  database:
    portforward: 3307
  dgraph-zero:
    type: compose
    scanner: false
    services:
      image: dgraph/dgraph:v1.1.0
      volumes:
      - type: volume
        source: dgraph
        target: /dgraph
        volume:
          nocopy: true
      ports:
      - 5080:5080
      - 6080:6080
      command: dgraph zero --my=dgraph-zero:5080
  dgraph-alpha:
    type: compose
    scanner: false
    services:
      image: dgraph/dgraph:v1.1.0
      volumes:
      - type: volume
        source: dgraph
        target: /dgraph
        volume:
          nocopy: true
      ports:
      - 8081:8080
      - 9080:9080
      command: dgraph alpha --my=dgraph-alpha:7080 --lru_mb=2048 --zero=dgraph-zero:5080
  dgraph-ratel:
    type: compose
    scanner: false
    services:
      image: dgraph/dgraph:v1.1.0
      volumes:
      - type: volume
        source: dgraph
        target: /dgraph
        volume:
          nocopy: true
      command: dgraph-ratel -addr http://dgraph-alpha.lndo.site:8080
    volumes:
      dgraph:
  test-dgraph-zero:
    type: compose
    services:
      image: dgraph/dgraph:v1.1.0
      command: dgraph zero --my=test-dgraph-zero:5082 -o=2
  test-dgraph-alpha:
    type: compose
    services:
      image: dgraph/dgraph:v1.1.0
      command: dgraph alpha --my=test-dgraph-alpha:7082 --lru_mb=2048 --zero=test-dgraph-zero:5082 -o=2
tooling:
  npm:
    service: node
  node:
    service: node
  gulp:
    service: node
  yarn:
    service: node
  test:
    service: appserver
    description: Runs all tests
    cmd: php /app/vendor/bin/phpunit

