# PHP CircleCI 2.1 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2.0
jobs:
  build:
    branches:
      only:
        - develop
        - master
        - /.*feature.*/
        - /.*bug.*/

    docker:
      # specify the version you desire here
      - image: circleci/php:7.3.5-fpm

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mysql:9.4

    working_directory: ~/repo

    steps:
      - checkout
      - setup_remote_docker
      - run: sudo apt-get update
      - run: sudo apt install -y libsqlite3-dev
      - run: sudo docker-php-ext-install bcmath
      - run: sudo docker-php-ext-install exif
      - run: sudo composer self-update

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "composer.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: composer install -n --prefer-dist

      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "composer.lock" }}

      # Set up dgraph
      - run: cd dgraph && docker-compose up -d

      # Set up port forwarding from dgraph server
      - run: sudo apt-get -y update; sleep 1; sudo apt-get -y install socat
      - run: docker --tlsverify -H=$DOCKER_HOST --tlscacert=$DOCKER_CERT_PATH/ca.pem --tlscert=$DOCKER_CERT_PATH/cert.pem --tlskey=$DOCKER_CERT_PATH/key.pem exec dgraph_server_1 apt-get -y update
      - run: docker --tlsverify -H=$DOCKER_HOST --tlscacert=$DOCKER_CERT_PATH/ca.pem --tlscert=$DOCKER_CERT_PATH/cert.pem --tlskey=$DOCKER_CERT_PATH/key.pem exec dgraph_server_1 apt-get -y install socat
      - run: sleep 5
      - run:
          name: dgraph tunnel
          background: true
          command: socat TCP-LISTEN:8080,reuseaddr,fork "EXEC:'docker --tlsverify -H=$DOCKER_HOST --tlscacert=$DOCKER_CERT_PATH/ca.pem --tlscert=$DOCKER_CERT_PATH/cert.pem --tlskey=$DOCKER_CERT_PATH/key.pem exec -i dgraph_server_1 socat STDIO TCP-CONNECT:localhost:8080'"

      # Copy .env file
      - run: cp .env.example .env

      # Install key
      - run: php artisan key:generate

      # run tests!
      - run: ./vendor/bin/phpunit

      - run: ./vendor/bin/phpcs --standard=psr12 app/ -n
